<!doctype html>
{% extends 'base.html' %}
{% load static %}
{% block content %}

<main class="px-3">
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">

        <!--О проекте-->
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-8 text-center">
                <h1 class="mb-4"><a name="About">О проекте</a></h1>
                <p class="fs-4 text-center">Наша команда разработала уникальную методику анализа сердечного
                    ритма. С помощью машинного обучения и нейронных сетей мы проанализировали более 10 тысяч записей ЭКГ
                    и разработали методику определения острых состояний, когда необходимо срочно обратиться ко врачу.
                    Для анализа мы используем ритмограмму, которую можно загрузить
                    <a href="#Upload_HRV">здесь</a>
                </p>
            </div>
        </div>

        <!--Как правильно проводить измерение ритмограммы-->
        <div class="row align-items-center my-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h1 class="mb-4"><a name="Rules">Как правильно сделать
                    ритмограмму</a></h1>
                <p class="fs-4 text-center">На качество ритмограммы влияет множество факторов: стресс,
                    физические нагрузки, прием пищи и даже разговоры за окном. Мы собрали несколько простых правил,
                    которые позволят снизить возможность ошибки до минимума.
                </p>
                <p class="lead fs-4 text-center">
                    - Не делайте ритмограмму сразу после приема пищи. Подождите пару часов.<br>
                    - Ритмограмму следует делать лежа. Полежите минут 5, расслабьтесь. И только после
                    этого включайте запись.<br>
                    - Если во время записи ритмограммы вы чихнули, закашлялись или у вас зазвонил
                    телефон, то лучше остановить запись и вернуться к предыдущему пункту.
                </p>
            </div>
        </div>

        <!--Форма отправки ритмограммы-->
        <div class="row align-items-center my-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h1 class="mb-4"><a name="Upload_HRV">Загрузить ритмограмму</a></h1>
                <form class="p-4 p-md-5 border rounded-3" enctype="multipart/form-data"
                      method="POST">
                    {% csrf_token %}
                    <div class="mb-2">
                        <label for="age" class="form-label">Введите возраст</label>
                        <input type="number" class="form-control" id="age" min="18" max="120" required>
                    </div>
                    <div class="mb-2">
                        <label for="sex"
                               class="col-sm-6 col-form-label">Выберите пол</label>
                        <div class="field">
                            <select name="sex" id="sex" class="form-select" required>
                                <option selected value="Мужской">Мужской</option>
                                <option value="Женский">Женский</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="hrv_file" class="form-label">Выберите файл</label>
                        <input class="form-control" type="file" id="hrv_file" required>
                        <div class="invalid-feedback">
                            Загрузите файл с ритмограммой.
                        </div>
                    </div>
                    <div class="form-check text-start">
                        <input class="form-check-input" type="checkbox" value="False" id="hrv_with_rules">
                        <label class="form-check-label" for="hrv_with_rules">
                            Ритмограмма проведена по правилам
                        </label>
                    </div>
                    <button type="submit" class="btn btn-secondary mt-4">Загрузить</button>
                </form>
            </div>
        </div>

        <!--FAQ о ритмограмме-->
        <div class="row align-items-center my-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h1><a name="FAQ">Вопросы и ответы</a></h1>
                <p class="lead mt-4">
                    <a class="btn btn-secondary" data-bs-toggle="collapse" href="#AboutHRV" role="button"
                       aria-expanded="false" aria-controls="collapseExample">
                        <i>Что такое ритмограмма?</i>
                    </a>
                <div class="collapse" id="AboutHRV">
                    <div class="card card-body my-3">
                        Ритмограмма представляет собой график, в котором по горизонтальной оси откладывается
                        номер «R-R» интервала, а по вертикальной длительность «R-R» интервала в секундах. График
                        позволяет получить первичную оценку качества проведенного обследования и обнаружить
                        нарушения сердечного ритма.
                    </div>
                </div>
                <p class="lead">
                    <a class="btn btn-secondary" data-bs-toggle="collapse" href="#Equipment" role="button"
                       aria-expanded="false" aria-controls="collapseExample">
                        <i>Какие приборы можно использовать?</i>
                    </a>
                <div class="collapse" id="Equipment">
                    <div class="card card-body my-3">
                        Можно использовать нагрудные датчики таких фирм:<br>
                        POLAR - финская компания с 40-летней историей производства спортивных кардиодатчиков. Один из
                        самых популярных в России брендов спортивных гаджетов.<br>
                        Garmin - линейка пульсометров от Garmin очень широкая. Для снятия показателей сердечного ритма
                        мы рекомендуем именно модель Garmin HRM Dual (Bluetooth 4+) – простую и эргономичную<br>
                        Suunto - финская компания, которая изначально специализировалась на компьютерах для дайвинга, а
                        сейчас расширила применение своих гаджетов на большинство видов спорта.<br>
                        Wahoo - пульсометры Tickr X и Tickr обладают рядом продвинутых функций.<br><br>
                        Вы можете использвать спортивные наручные часы, такие как Apple Watch, Garmin, Suunto, Polar,
                        для измерения ритмограммы и последующей интерпритации результатов на нашем сайте.

                    </div>
                </div>
<!--                <p class="lead">-->
<!--                    <a class="btn btn-secondary" data-bs-toggle="collapse" href="#Doc" role="button"-->
<!--                       aria-expanded="false" aria-controls="collapseExample">-->
<!--                        <i>Почему я должен идти ко врачу?</i>-->
<!--                    </a>-->
<!--                <div class="collapse" id="Doc">-->
<!--                    <div class="card card-body my-3">-->
<!--                        Ритмограмма представляет собой график, в котором по горизонтальной оси откладывается-->
<!--                        номер «R-R» интервала, а по вертикальной длительность «R-R» интервала в секундах. График-->
<!--                        позволяет получить первичную оценку качества проведенного обследования и обнаружить-->
<!--                        нарушения сердечного ритма.-->
<!--                    </div>-->
<!--                </div>-->
<!--                </p>-->
            </div>
        </div>

    </div>
</main>

{% endblock content %}
