<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-md-10 mx-auto col-lg-5">
    <form class="p-4 p-md-5 border rounded-3 bg-light" enctype="multipart/form-data" method="post">
        <h4 class="form_row"><a name="button-load">Загрузить ритмограмму</a></h4>
        <div class="form-floating mb-3">
            <input type="number" class="form-control" id="Age" min="18" max="120">
            <label for="Age">Возраст</label>
        </div>
        <div class="form-floating mb-3">
            <p><input name="gender" type="radio" value="male">Мужчина</p>
            <p><input name="gender" type="radio" value="female">Женщина</p>
        </div>
        <div class="checkbox mb-3">
            <p><input type="checkbox" value="remember-me">Ритмограмма сделана по правилам</p>
        </div>
        <div class="form_row">
            <input type="file">
        </div>
        <a class="btn btn-secondary btn-lg" href="{% url 'result' %}" role="button">Загрузить</a>
    </form>
</div>
</body>
</html>